@model BookStore.ViewsModels.GenreViewModel

@{
    ViewData["Title"] = "Owned books";
}

<h1>List of books</h1>

<form asp-controller="Books" asp-action="OwnedBooks" method="get">
   
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].FrontPage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].NumPages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].DownloadUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Author)
            </th>
            <th>
                Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    <img src="~/files/covers/@Html.DisplayFor(modelItem => item.FrontPage)" height="400px" width="200px">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumPages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    <a href="~/files/pdf/@Html.DisplayFor(modelItem => item.DownloadUrl)">Download</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FullName)
                </td>
                <td>
                    @if (Model.Reviews.Any())
                    {
                        var rating = 0;
                        var c = 0;
                        @foreach (var review in Model.Reviews)
                        {
                            if (review.BookId == item.Id && review.Rating != null)
                            {
                                c++;
                                rating += (int)review.Rating;

                            }
                        }
                        if (rating != 0 && c != 0)
                        {
                            rating = rating / c;
                        }
                        <p>@rating</p>
                    }
                    else
                    {
                        <p>No Rating</p>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
